body{
	background-color: rgb(30, 68, 94);
	color: white;
}

h1{
	text-align: center;
	font-family: 'Alata', sans-serif;
	font-size: 5vw;
}

h3{
	text-align: center;
	font-family: 'Alata', sans-serif;
	font-size: 3vw;
}

.grid{
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	width: 70%;

}
img{
	height: 12vw;
	width: 12vw;
	margin: 1vw;
	border: 2px solid black;
}

